@if (User.Identity.IsAuthenticated)
{
    <small class="text-muted text-justify font-weight-light">Hello @User.Identity.Name</small>
    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Logout">Logout</a>
}
else
{
    <a class="btn btn-default" asp-controller="Account" asp-action="Login">Login</a>
}