@model Restaurant

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

<div> ID: @Model.Id</div>
<div> Cuisine: @Model.Cuisine</div>
<br />
<hr />
<a asp-action="Index" asp-controller="Home">Back</a>